
    
    <div class="header-division division"></div>

    <section class="sct-chamativa">
        <figure><img src="img/bg-chamativo.png" alt=""></figure>
        <div class="txt-sct-chamativa">
            <h1>Loja dedicada ao Naruto</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        </div>
    </section>

    <section class="sct-sobre">
        <div class="texto-sobre">
            <h1>Quem somos<br> &<br> O que fazemos</h1>
            <p>Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. </p>
          <div id="saiba-mais">
            <a href="#">Saiba mais</a>
          </div>
        </div>

        <div class="figura-sobre">
            <figure>
                <img src="img/quem-somos.jpg" alt="Quem somos">
            </figure>
        </div>
    </section>

    <section class="sct-produtos">
       <div class="car-box">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="img/produto-1.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/produto-2.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/produto-3.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/produto-4.jpg" alt="Forth slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/produto-5.jpg" alt="Forth slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/produto-6.jpg" alt="Forth slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="img/produto-7.jpg" alt="Forth slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    </section>

    <section class="sct-noticias">
        
        <div class="noticia" id="noticia-1" >
            <h1 class="noticia-titulo">Título</h1>
            <p class="noticia-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        
        <div class="noticia" id="noticia-2">
            <h1 class="noticia-titulo">Título</h1>
            <p class="noticia-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        
        <div class="noticia" id="noticia-3">
            <h1 class="noticia-titulo">Título</h1>
            <p class="noticia-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>


    </section>

    <div class="footer-division division"></div>

   