/*
Theme Name: Naruto
Theme URI: http://localhost:10004/
Author: In Junior
Author URI: www.injunior.com.br
Description: Tarefa de FDS
Version: 1.0
*/

/* -------------- GERAL  --------------*/

:root{
    --bg-color: #373737;
    --smoky-black: #141011ff;
    --dark-liver: #42404bff;
    --carmine: #961a1aff;
    --tart-orange: #ff3f3eff;
    --orange-crayola: #ff752cff;
    --corn: #fdea60ff;
    --silver: #c3c3c3ff;
    --white: #fafafa;
    --naruto: #FF9534;
}


body{
    background-color: var(--silver);
}

html{
    margin-top: none !important;
}

/*---Generic Division*/
.division{
    width: 100%;
    height: 5px;
}

.header-division{
    background-color: #474747;
}
.footer-division{
    background-color: #272727;
}


/* -------------- HEADER  --------------*/

.header{
    position: sticky;
    z-index: 16;
    top: 0;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*--Logo--*/
.header img{
    width: auto;
    height: 70px;
}
/*--------*/

/*-----Menus------*/
.header ul {
    display: flex;
    margin: 0px;
}

.header li{
    margin: 0px 5px;
    border-radius: 10%;
    transition: 0.2s;
}
.header a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white);
    font-family: "Germania One";
    padding: 7px;
    transition: 0.2s;
}
.header a:hover{
    text-decoration: none;
}
.header li:hover{
    background-color: var(--naruto);
    cursor: pointer;
}
.header li:hover a{
    color: var(--bg-color);
}

/*----------------*/

/* -------------- SCT CHAMATIVA  --------------*/
.sct-chamativa{
    position: relative;
    height: auto;
}
.sct-chamativa figure{
    background-color: var(--naruto);
    margin: 0px;
}
/*--------Div dos textos----------*/
.sct-chamativa .txt-sct-chamativa{
    position: absolute;
    top: 20%;
    left: 13%;
    width: 30%;
    height: 30%;
}
/*-----Textos-----*/
.sct-chamativa .txt-sct-chamativa h1{
    overflow-wrap: break-word;
    font-size: 3vw;
    text-align: center;
    
}
.sct-chamativa .txt-sct-chamativa p{
    overflow-wrap: break-word;
    font-size: 2.2vw;
    text-align: center;
}
/*---------------*/
/*--------------------------------*/
.sct-chamativa img{
    width: 100%;
}


/* -------------- SCT SOBRE  --------------*/

.sct-sobre{
display: flex;
flex-direction: column;
padding: 40px 0px;
background-color: #fafafa;
}

.texto-sobre{
    align-items: center;
    text-align: center;
    margin: 4%;
}

.texto-sobre > p{
    font-size: 2vw;
}
.texto-sobre > h1{
    font-size: 5vw;
}

#saiba-mais {
    width: auto;
    height: auto;
    
    justify-content: center;
    font-size:1.3rem;

}
#saiba-mais a{
    text-decoration: none;
    color: var(--white);
    padding: 7px;
    border-radius: 10px;
    background-color: var(--orange-crayola);
    transition: 0.2s;
}
#saiba-mais a:hover{
    color: var(--orange-crayola);
    background-color: #333;
}


.figura-sobre{
    margin: auto;
    max-width: 50%;
}
.figura-sobre img{
    width: 100%;
} 

.rede_h1{
    text-align: center;
}
.redes{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    width: 40vw;
    margin: auto;
    flex-direction: row;
}
.redes img{
    width: 50px;
}

/* -------------- SCT PRODUTOS  --------------*/

.sct-produtos{
display: grid;
height: auto;
align-items: center;
justify-content: center;
background: #373737;
padding: 40px 0px;
}

.fotosonly{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    width: 80vw;
}
.fotosonly *{
    display: none;
}
.fotosonly img{
    display: block;
    margin: 20px;
    width: 400px;
    height: auto;
}
.fotosonly a{
    display: inline-flex;
    width: 100%;
    height: 100%;
} 
.teste{
    display: block;
    position: relative;
}
.prod{
    display: inline;
    top: 5%;
    position: absolute;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* -------------- SCT NOTICIAS  --------------*/

.sct-noticias{
    display: grid;
    height: auto;
}
.sct-noticias > h1{
    text-align: center;
}

.sct-noticias > div{
    display: flex;
    justify-content: space-evenly;
}
.sct-noticias > div > div{
    overflow: hidden;
    background-color: var(--corn);
    width: 30%;
    max-height: 400px;
    padding: 2%;
}


.noticia > h1{
    text-align: center;
}

.to_noticias{
    padding: 15px;
    display: flex;
    justify-content: center;
}
.to_noticias a{
    background-color: var(--naruto);
    padding: 10px;
    text-decoration: none;
    border-radius: 10%;
    display: inline;
}
/* -------------- FOOTER  --------------*/

.footer{
    background: var(--smoky-black);
    height: auto;
    color: var(--white);
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.footer > img {
    height: 100px;    
    background: transparent;
    padding: 0px 20px;
}

/*--------------FOMRS-----------------*/
#wpforms-153{
    margin-left: 30px;
}